html,
body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

// 以下不在hover、focus、active时显示outline
.tabstrip-master,
#header-tabstrip,
.tabContent,
.tabContentActive
{
    outline: none !important;

    &:focus
    {
        outline: none !important;
    }

    &:active
    {
        outline: none !important;
    }

    &:active:focus
    {
        outline: none !important;
    }
}

.tabstrip-master
{
    width: 100vw;
}

.tabbtn
{
    width: 38px;
    height: 38px;
    outline-offset: -3px;
    // display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;

    // @media (prefers-reduced-motion: reduce)
    // {
    //     transition: none;
    // }
    // border-radius: 0.25rem;
    /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
    &:disabled
    {
        pointer-events: none;
    }

    &#tabstrip-left-tabbtn,
    &#tabstrip-right-tabbtn
    {
        // z-index大于tabstrip-item
        z-index: 1;
    }
}

.tabbtn-close
{
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
    margin-left: 10px;
}

.tabstrip
{
    height: 38px;
    margin-bottom: 0;
    padding-left: 0;
    border: none;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    // -----------Hide scroll bar-----------
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar
    {
        min-width: 16px;
        height: 6px;
        display: none;
    }

    // -------------------------------------
    // border-bottom: 1px solid var(--bs-body-color);
    &-master
    {
        width: 100vw;
    }

    &-left-tabbtn,
    &-right-tabbtn
    {
        width: 38px;
        height: 38px;
    }

    &#header-tabstrip &-item
    {
        padding-top: 4px;
        padding-bottom: 4px;
        height: 30px;
        display: flex;
        font-size: smaller;
    }
}

.tabstrip-item
{
    margin-top: 3px;
    margin-bottom: -1px;
    margin-left: 3px;
    padding: 0.5rem 0.5rem 0.5rem 0.25rem;
    background: 0 0;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    // margin-bottom: 3px;
    white-space: nowrap;
    // display: inline;
    display: flex;
    user-select: none;

    &-icon
    {
        margin-right: 0.35rem;
    }

    // transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    //     border-color 0.15s ease-in-out;
    @media (prefers-reduced-motion: reduce)
    {
        transition: none;
    }

    // 超出tab宽度时，在右侧显示渐变消失，以提醒用户
    // When the tab width is exceeded, the identification disappears on the right side to remind the user
    // -------------------------------------------------
    &>.tabstrip-item-text
    {
        max-width: 200px;
        // display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        position: relative;

        &.text-overflow
        {
            mask: linear-gradient(to right, transparent 0%, transparent calc(100% - 15px)), linear-gradient(to right, #000 calc(100% - 15px), transparent 100%);
        }

        // background: linear-gradient(to right, transparent 90%, inherit);
    }

    // -------------------------------------------------
}

#nav-view-all-box,
#nav-menu-box
{
    min-width: 250px;
    max-height: 80vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    z-index: 999999999;
    /* 隐藏横向滚动条 */
    overflow-x: hidden;
    /* min-height: 500px; */
    /* overflow-y: scroll auto; */
    position: absolute;
    right: 10px;
    top: 50px;
    border-radius: 8px;

    .tabstrip-item.active
    {
        font-weight: bold;
    }

    & .list-group-item
    {
        border: none;
    }

    & .nav-link
    {
        padding-top: 0;
        padding-bottom: 0;
    }

    & #nav-menu-box-menu-list
    {
        overflow-x: hidden;
    }
}

#box-musk
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.tabContent
{
    display: none;
}

.tabContentActive
{
    display: block;
    width: 100vw;
    height: calc(100vh - 38px);
    overflow-y: auto;
    overflow-x: auto;

    // 大按钮，方便点击
    .form-switch .form-check-input
    {
        width: 60px;
        height: 30px;
    }
}

.hide
{
    display: none !important;
}

.show
{
    display: block !important;
}