@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tabstrip-master,
#header-tabstrip,
.tabContent,
.tabContentActive {
  outline: none !important;
}
.tabstrip-master:focus,
#header-tabstrip:focus,
.tabContent:focus,
.tabContentActive:focus {
  outline: none !important;
}
.tabstrip-master:active,
#header-tabstrip:active,
.tabContent:active,
.tabContentActive:active {
  outline: none !important;
}
.tabstrip-master:active:focus,
#header-tabstrip:active:focus,
.tabContent:active:focus,
.tabContentActive:active:focus {
  outline: none !important;
}

.tabstrip-master {
  width: 100vw;
}

.tabbtn {
  width: 38px;
  height: 38px;
  outline-offset: -3px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}
.tabbtn:disabled {
  pointer-events: none;
}
.tabbtn#tabstrip-left-tabbtn, .tabbtn#tabstrip-right-tabbtn {
  z-index: 1;
}

.tabbtn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
  margin-left: 10px;
}

.tabstrip {
  height: 38px;
  margin-bottom: 0;
  padding-left: 0;
  border: none;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.tabstrip::-webkit-scrollbar {
  min-width: 16px;
  height: 6px;
  display: none;
}
.tabstrip-master {
  width: 100vw;
}
.tabstrip-left-tabbtn, .tabstrip-right-tabbtn {
  width: 38px;
  height: 38px;
}
.tabstrip#header-tabstrip .tabstrip-item {
  padding-top: 4px;
  padding-bottom: 4px;
  height: 30px;
  display: flex;
  font-size: smaller;
}

.tabstrip-item {
  margin-top: 3px;
  margin-bottom: -1px;
  margin-left: 3px;
  padding: 0.5rem 0.5rem 0.5rem 0.25rem;
  background: 0 0;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  white-space: nowrap;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tabstrip-item-icon {
  margin-right: 0.35rem;
}
@media (prefers-reduced-motion: reduce) {
  .tabstrip-item {
    transition: none;
  }
}
.tabstrip-item > .tabstrip-item-text {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.tabstrip-item > .text-overflow.tabstrip-item-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
}

#nav-view-all-box,
#nav-menu-box {
  min-width: 250px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  z-index: 999999999;
  /* 隐藏横向滚动条 */
  overflow-x: hidden;
  /* min-height: 500px; */
  /* overflow-y: scroll auto; */
  position: absolute;
  right: 10px;
  top: 50px;
  border-radius: 8px;
}
#nav-view-all-box .tabstrip-item.active,
#nav-menu-box .tabstrip-item.active {
  font-weight: bold;
}
#nav-view-all-box .list-group-item,
#nav-menu-box .list-group-item {
  border: none;
}
#nav-view-all-box .nav-link,
#nav-menu-box .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}
#nav-view-all-box #nav-menu-box-menu-list,
#nav-menu-box #nav-menu-box-menu-list {
  overflow-x: hidden;
}

#box-musk {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.tabContent {
  display: none;
}

.tabContentActive {
  display: block;
  width: 100vw;
  height: calc(100vh - 38px);
  overflow-y: auto;
  overflow-x: auto;
}
.tabContentActive .form-switch .form-check-input {
  width: 60px;
  height: 30px;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}/*# sourceMappingURL=structure.css.map */