@charset "UTF-8";
*:focus, :active:focus {
  outline: 2px solid blue !important;
}
.tabbtn {
  outline-offset: -3px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}
.tabbtn:disabled {
  pointer-events: none;
  opacity: 0.65;
}

@media (prefers-reduced-motion: reduce) {
  .tabbtn {
    transition: none;
  }
}
.tabbtn-light {
  color: var(--bs-body-color);
  background-color: var(--bs-gray-100);
}
.tabbtn-light:hover, .tabbtn-light.tabbtn-close:focus {
  background-color: var(--bs-gray-300);
}
.tabbtn-light:active {
  background-color: var(--bs-gray-500);
}
.tabbtn-light:disabled {
  background-color: var(--bs-gray-100);
  border-color: var(--bs-gray-100);
}

.tabbtn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.tabbtn-group > .tabbtn {
  position: relative;
  flex: 1 1 auto;
}
.tabbtn-group > .tabbtn:active, .tabbtn-group > .tabbtn:focus, .tabbtn-group > .tabbtn:hover {
  z-index: 1;
}
.tabbtn-group > .tabbtn:not(:first-child) {
  margin-left: -1px;
}
.tabbtn-group > .tabbtn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tabbtn-group > .tabbtn:nth-child(n+3), .tabbtn-group > .tabbtn:not(.tabbtn-check) + .tabbtn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tabbtn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
  margin-left: 10px;
}
.tabbtn-close:hover, .tabbtn-close:focus {
  text-decoration: none;
  opacity: 0.75;
}
.tabnav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  /* background-color: #ECEEF1; */
  /* overflow-x: hidden; */
  overflow-x: scroll;
  /*  */
  flex-wrap: nowrap;
  width: calc(100vw - 190px);
  /* max-width: 60vw; */
  /* width: 100vw !important; */
  /* left: 0 !important; */
  /* 滚动条设置为thin */
  scrollbar-width: thin;
  min-height: 20px;
  height: 38px;
  border: none;
}
.tabnav::-webkit-scrollbar {
  min-width: 16px;
  height: 6px;
  /* 组件内滚动条不显示 */
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  .tabnav-item {
    transition: none;
  }
}
.tabnav {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  /* background-color: #ECEEF1; /
  / overflow-x: hidden; /
  overflow-x: scroll;
  / /
  flex-wrap: nowrap;
  width: calc(100vw - 190px);
  / max-width: 60vw; /
  / width: 100vw !important; /
  / left: 0 !important; /
  / 滚动条设置为thin */
  scrollbar-width: thin;
  min-height: 20px;
  height: 38px;
  border: none;
}
.tabnav-master {
  width: 100vw;
}
.tabnav-left-tabbtn, .tabnav-right-tabbtn {
  width: 38px;
  height: 38px;
}
#header-tabnav .tabnav-item {
  padding-top: 4px;
  padding-bottom: 4px;
  height: 30px;
  display: flex;
}
.tabnav::-webkit-scrollbar {
  min-width: 16px;
  height: 6px;
  display: none;
  /* 组件内滚动条不显示 */
}
.tabnav-item {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  white-space: nowrap;
  display: inline;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tabnav-item a {
  /* 移除.tabnav-item上的链接的点击事件 */
  pointer-events: none;
  /* 不能被选中 */
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  /*早起浏览器*/
  -moz-user-select: none;
  /*火狐浏览器*/
  -ms-user-select: none;
  /*IE浏览器*/
  user-select: none;
}

.tabnav-item {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--bs-body-color);
  margin-bottom: -1px;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: var(--bs-body-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .tabnav-item {
    transition: none;
  }
}
.tabnav-item:focus, .tabnav-item:hover {
  background-color: var(--bs-gray-300);
  isolation: isolate;
}
.tabnav-item.active {
  background-color: var(--bs-white);
  border-color: var(--bs-gray-300);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.tabnav-master {
  width: 100vw;
}

#tabnav-left-tabbtn,
#tabnav-right-tabbtn {
  width: 38px;
  height: 38px;
}

#nav-view-all-box,
#nav-menu-box {
  display: flex;
  flex-direction: column;
  z-index: 999999999;
  /* 隐藏横向滚动条 */
  overflow-x: hidden;
  min-width: 250px;
  /* min-height: 500px; */
  max-height: 80vh;
  /* overflow-y: scroll auto; */
  position: absolute;
  right: 0px;
  top: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
#nav-view-all-box .list-group-item,
#nav-menu-box .list-group-item {
  border: none;
}
#nav-view-all-box .nav-link,
#nav-menu-box .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}
#nav-view-all-box #nav-menu-box-menu-list,
#nav-menu-box #nav-menu-box-menu-list {
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#box-musk {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.tabContent {
  display: none;
}

.tabContentActive {
  display: block;
  width: 100vw;
  height: calc(100vh - 38px);
  overflow-y: scroll;
  overflow-x: auto;
}/*# sourceMappingURL=tabnav.css.map */